flows.json
[
    {
        "id": "4d508f5ba191f821",
        "type": "tab",
        "label": "Flujo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7c34d19e242665f0",
        "type": "tab",
        "label": "Flujo 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "inject1",
        "type": "inject",
        "z": "4d508f5ba191f821",
        "name": "Hola Mundo",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 0,
        "y": 0,
        "wires": [
            [
                "debug1"
            ]
        ]
    },
    {
        "id": "debug1",
        "type": "debug",
        "z": "4d508f5ba191f821",
        "name": "Salida",
        "active": true,
        "tosidebar": true,
        "x": 0,
        "y": 0,
        "wires": []
    },
    {
        "id": "c7fed3f7c4ddd392",
        "type": "inject",
        "z": "4d508f5ba191f821",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "b3ec27b56586bf6d"
            ]
        ]
    },
    {
        "id": "31c8e3177b69adc7",
        "type": "inject",
        "z": "4d508f5ba191f821",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 490,
        "y": 80,
        "wires": [
            [
                "9e97b551b3162068"
            ]
        ]
    },
    {
        "id": "b3ec27b56586bf6d",
        "type": "debug",
        "z": "4d508f5ba191f821",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 180,
        "wires": []
    },
    {
        "id": "9e97b551b3162068",
        "type": "debug",
        "z": "4d508f5ba191f821",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 60,
        "wires": []
    },
    {
        "id": "87e120e81fa39b09",
        "type": "ui_text",
        "z": "7c34d19e242665f0",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000",
        "x": 310,
        "y": 100,
        "wires": []
    },
    {
        "id": "f4a24f57cea70812",
        "type": "debug",
        "z": "7c34d19e242665f0",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 180,
        "wires": []
    },
    {
        "id": "bed83d47accf2386",
        "type": "inject",
        "z": "7c34d19e242665f0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "87e120e81fa39b09",
                "f4a24f57cea70812"
            ]
        ]
    }
]