flows.json
[
    {
        "id": "4d508f5ba191f821",
        "type": "tab",
        "label": "Flujo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7c34d19e242665f0",
        "type": "tab",
        "label": "Flujo 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "925440bb74efb37d",
        "type": "tab",
        "label": "Flujo 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5cd1c01a85f71d88",
        "type": "tab",
        "label": "Flujo 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "820c1619860ffbb8",
        "type": "tab",
        "label": "Flujo 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "af75c9ed0ca94ea2",
        "type": "tab",
        "label": "Flujo 6",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "95c9d7a566062311",
        "type": "tab",
        "label": "Flujo 7",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fae247ce8162e6b8",
        "type": "tab",
        "label": "Flujo 8",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d32d76e12d51f1a9",
        "type": "tab",
        "label": "Flujo 9",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "inject1",
        "type": "inject",
        "z": "4d508f5ba191f821",
        "name": "Hola Mundo",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 0,
        "y": 0,
        "wires": [
            [
                "debug1"
            ]
        ]
    },
    {
        "id": "debug1",
        "type": "debug",
        "z": "4d508f5ba191f821",
        "name": "Salida",
        "active": true,
        "tosidebar": true,
        "x": 0,
        "y": 0,
        "wires": []
    },
    {
        "id": "c7fed3f7c4ddd392",
        "type": "inject",
        "z": "4d508f5ba191f821",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "b3ec27b56586bf6d"
            ]
        ]
    },
    {
        "id": "31c8e3177b69adc7",
        "type": "inject",
        "z": "4d508f5ba191f821",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 490,
        "y": 80,
        "wires": [
            [
                "9e97b551b3162068"
            ]
        ]
    },
    {
        "id": "b3ec27b56586bf6d",
        "type": "debug",
        "z": "4d508f5ba191f821",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 180,
        "wires": []
    },
    {
        "id": "9e97b551b3162068",
        "type": "debug",
        "z": "4d508f5ba191f821",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 60,
        "wires": []
    },
    {
        "id": "87e120e81fa39b09",
        "type": "ui_text",
        "z": "7c34d19e242665f0",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000",
        "x": 130,
        "y": 300,
        "wires": []
    },
    {
        "id": "f4a24f57cea70812",
        "type": "debug",
        "z": "7c34d19e242665f0",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 180,
        "wires": []
    },
    {
        "id": "bed83d47accf2386",
        "type": "inject",
        "z": "7c34d19e242665f0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "87e120e81fa39b09",
                "f4a24f57cea70812",
                "dee7eac2bfc6b0b8"
            ]
        ]
    },
    {
        "id": "dee7eac2bfc6b0b8",
        "type": "link out",
        "z": "7c34d19e242665f0",
        "name": "link out 1",
        "mode": "link",
        "links": [],
        "x": 435,
        "y": 60,
        "wires": []
    },
    {
        "id": "4cd65e4a1c24c502",
        "type": "complete",
        "z": "925440bb74efb37d",
        "name": "",
        "scope": [],
        "uncaught": false,
        "x": 190,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "202169a195cefaf5",
        "type": "catch",
        "z": "925440bb74efb37d",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 210,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "88adb9515d6bcde6",
        "type": "link in",
        "z": "925440bb74efb37d",
        "name": "link in 1",
        "links": [],
        "x": 435,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "9b5f4b57fc818e6f",
        "type": "comment",
        "z": "925440bb74efb37d",
        "name": "",
        "info": "",
        "x": 360,
        "y": 300,
        "wires": []
    },
    {
        "id": "b1f984bd8914a24d",
        "type": "ui_button",
        "z": "5cd1c01a85f71d88",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 140,
        "wires": [
            [
                "0a50df3050e72943",
                "20af767a5a9d9277",
                "878f50f2122751d5",
                "0d5f80cf1b9a1250"
            ]
        ]
    },
    {
        "id": "0a50df3050e72943",
        "type": "ui_dropdown",
        "z": "5cd1c01a85f71d88",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "value": "",
                "label": ""
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 340,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "20af767a5a9d9277",
        "type": "ui_switch",
        "z": "5cd1c01a85f71d88",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": true,
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": false,
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 410,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "878f50f2122751d5",
        "type": "ui_switch",
        "z": "5cd1c01a85f71d88",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": true,
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": false,
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 250,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "0d5f80cf1b9a1250",
        "type": "ui_numeric",
        "z": "5cd1c01a85f71d88",
        "name": "",
        "label": "numeric",
        "tooltip": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 360,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "cd3d70c98015f365",
        "type": "watch",
        "z": "820c1619860ffbb8",
        "name": "",
        "files": "",
        "recursive": "",
        "x": 180,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "bae19bb82e335dff",
        "type": "file in",
        "z": "820c1619860ffbb8",
        "name": "",
        "filename": "",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 390,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "4ff8f331a3840b25",
        "type": "file",
        "z": "820c1619860ffbb8",
        "name": "",
        "filename": "",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 300,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "389a1370a1b96e17",
        "type": "status",
        "z": "af75c9ed0ca94ea2",
        "name": "",
        "scope": null,
        "x": 290,
        "y": 80,
        "wires": [
            [
                "b29f9a0f9c146f47"
            ]
        ]
    },
    {
        "id": "b29f9a0f9c146f47",
        "type": "link call",
        "z": "af75c9ed0ca94ea2",
        "name": "",
        "links": [],
        "linkType": "static",
        "timeout": "30",
        "x": 400,
        "y": 140,
        "wires": [
            [
                "073cb8f5ca6eba12"
            ]
        ]
    },
    {
        "id": "073cb8f5ca6eba12",
        "type": "link out",
        "z": "af75c9ed0ca94ea2",
        "name": "link out 2",
        "mode": "link",
        "links": [],
        "x": 465,
        "y": 220,
        "wires": []
    },
    {
        "id": "22cf98f7cdb97cbf",
        "type": "inject",
        "z": "95c9d7a566062311",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 80,
        "wires": [
            [
                "69fbff3e0ef63754"
            ]
        ]
    },
    {
        "id": "69fbff3e0ef63754",
        "type": "debug",
        "z": "95c9d7a566062311",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 80,
        "wires": []
    },
    {
        "id": "7ee8e1e52278f9dc",
        "type": "ping",
        "z": "fae247ce8162e6b8",
        "protocol": "Automatic",
        "mode": "timed",
        "name": "",
        "host": "",
        "timer": "20",
        "inputs": 0,
        "x": 110,
        "y": 140,
        "wires": [
            [
                "2835a2dd4d2351db"
            ]
        ]
    },
    {
        "id": "2835a2dd4d2351db",
        "type": "ui_chart",
        "z": "fae247ce8162e6b8",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1F77B4",
            "#AEC7E8",
            "#FF7F0E",
            "#2CA02C",
            "#98DF8A",
            "#D62728",
            "#FF9896",
            "#9467BD",
            "#C5B0D5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 390,
        "y": 120,
        "wires": [
            []
        ]
    }
]